<a href="https://colab.research.google.com/github/DSF-Kotaro/classroom/blob/main/%E3%80%90%E7%AC%AC13%E5%9B%9E%E3%80%91%E5%9F%BA%E6%9C%AC%E7%9A%84%E3%81%AA%E3%83%87%E3%83%BC%E3%82%BF%E6%93%8D%E4%BD%9C.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#ライブラリの読み込み（load libraries）

In [ ]:
import numpy as np
import numpy.random as random
import scipy as sp
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt
import matplotlib as mpl
import seaborn as sns

np.random.seed(0)

#データの準備（Data preparation）

In [ ]:
data1 = {
    'id':[100,101,102,103,104,106,108,110,111,113],
    'city':['Tokyo','Osaka','Kyoto','Hokkaido','Tokyo','Tokyo','Osaka',
            'Kyoto','Hokkaido','Tokyo'],
    'birth_year':[1990,1989,1992,1997,1982,1991,1988,1990,1995,1981],
    'name':['Hiroshi','Akiko','Yuki','Satoru','Steeve','Mituru','Aoi',
            'Tarou','Suguru','Mitsuo']
}

df1 = DataFrame(data1)
df1

#データの操作と変換（Manipulating and transforming data）

##ピボット操作（Pivot operation）

In [ ]:
hier_df = DataFrame(
    np.arange(9).reshape((3,3)),
    index = [['a','a','b'],[1,2,2]],
    columns = [['Osaka','Tokyo','Osaka'],['Blue','Red','Red']])

hier_df

###「Blue、Red」の列を行に変更（Changed "Blue, Red" column to row）

In [ ]:
hier_df.stack()

###unstackメソッドで、「Blue,Red」の行を列に変更（Change "Blue, Red" row to column with unstack method）

In [ ]:
hier_df.stack().unstack()

##重複データの除去（Duplicate data removal）

In [ ]:
dupli_data = DataFrame({
    'col1':[1,1,2,3,4,4,6,6],
    'col2':['a','b','b','b','c','c','b','b']
})

print('・元のデータ')
dupli_data

###重複判定（Duplicate judgment）

In [ ]:
dupli_data.duplicated()

###重複削除（Duplicate deletion）

In [ ]:
dupli_data.drop_duplicates()

##マッピング処理（Mapping process）

In [ ]:
city_map = {
    'Tokyo':'Kanto',
    'Hokkaido':'Hokkaido',
    'Osaka':'Kansai',
    'Kyoto':'Kansai'
}
city_map

###参照データを結合。もし対応するデータが無かったらNaNになる。（Combine reference data. If there is no corresponding data, it will be NaN.）

In [ ]:
df1['region'] = df1['city'].map(city_map)
df1

In [ ]:
df1['up_two_num'] = df1['birth_year'].map(lambda x : str(x)[0:3])
df1

In [ ]:
df1.birth_year.dtypes

dtype('int64')

##ビン分割（Bin split）

In [ ]:
birth_year_bins = [1980,1985,1990,1995,2000]
birth_year_cut_data = pd.cut(df1.birth_year,birth_year_bins)
birth_year_cut_data

###集計結果（Aggregate results）

In [ ]:
pd.value_counts(birth_year_cut_data)

###Labelsパラメータを指定し、それぞれのビンに名前をつける（Specify the Labels parameter and give each bin a name）

In [ ]:
group_names = ['early1980s','late1980s','early1990s','late1990s']
birth_year_cut_data = pd.cut(df1.birth_year,birth_year_bins,labels = group_names)
pd.value_counts(birth_year_cut_data)

###分割数を指定して分割する（Specify the number of divisions to divide）

In [ ]:
pd.cut(df1.birth_year,2)

###分位点での分割（Quantile division）

In [ ]:
pd.value_counts(pd.qcut(df1.birth_year,2))

##データ集約とグループ演算（Data aggregation and group operations）

In [ ]:
df1

In [ ]:
df1.groupby('city').size()

city
Hokkaido    2
Kyoto       2
Osaka       2
Tokyo       4
dtype: int64

In [ ]:
df1.groupby('city')['birth_year'].mean()

city
Hokkaido    1996.0
Kyoto       1991.0
Osaka       1988.5
Tokyo       1986.0
Name: birth_year, dtype: float64

In [ ]:
df1.groupby(['region','city'])['birth_year'].mean()

region    city
Hokkaido  Hokkaido    1996.0
Kansai    Kyoto       1991.0
          Osaka       1988.5
Kanto     Tokyo       1986.0
Name: birth_year, dtype: float64

問題１　「student-mat.csv」を読み込み、年齢を2倍したカラムを末尾に追加しなさい。<br>Load "student-mat.csv" and add a doubled age column at the end.

問題２　問題１のデータで、「absences」のカラムについて、以下の３つのビンに分けてそれぞれの人数を数えなさい。<br>In the data of Problem 1, divide the column of "absences" into the following three bins and count the number of each.

In [ ]:
absences_bins = [0,1,5,100]

問題３　問題１のデータで、「absences」のカラムについて、qcut関数を用いて３つのビンに分けなさい。<br>In the data of Problem 1, divide the "absences" column into three bins using the qcut function.